<!-- <div style="width:100%;text-align: center">
  <h1 style="margin-top:5%">{{text}}</h1>
</div> -->
<div class="container">
  <!-- <div nz-row nzType="flex" nzJustify="space-around" class="topDiv"> -->
  <nz-card [nzBordered]="'false'">
    <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let i of topData" (click)="cardClick(i)">
      <!--<p><i nz-icon style="font-size: 2.5rem;" [type]="i.icon" theme="outline"></i></p>-->
        <span class="imgStyle">
          <img style="width: 360px;" [src]="i.src" alt="">
          <img class="iconimg" [src]="i.iconimg  " alt="">
          <p class="icontitle">{{i.text}}</p>
        </span>
    </div>
  </nz-card>
  <div class="table">
    <nz-card style="margin-top:30px" [nzTitle]="temtitletemtitle" >
      <ng-template #temtitletemtitle>
        <img style="vertical-align: sub;" src="../../../../../assets/bmimage/BM1/icon_shujugailan@2x.png" alt="">
        <span style="color: #4c8bfd; font-size: 20px; margin-left: 10px">数据概览</span>
      </ng-template>
      <div nz-row nzType="flex" nzJustify="space-around" class="centerDiv">
        <div nz-col nzSpan="4" *ngFor="let i of centerData">
          <div class="sm-st clearfix">
            <span class="sm-st-icon" [ngStyle]="i.color">
              <!--<i nz-icon [type]="i.icon" theme="outline"></i>-->
              <img [src]="i.img" alt="">
            </span>
            <div class="sm-st-info">
             <span style="display: block; font-size: 34px; color: #4c8bfd; font-weight: bold;">{{i.value}}</span>
             <span style="color: #acb3bf; font-size: 18px"> {{i.text}}</span> </div>
          </div>
        </div>
      </div>
    </nz-card>

    <!--渠道信息-->
    <nz-card style="margin-top:30px" [nzTitle]="temtitle" >
      <ng-template #temtitle>
        <img style="vertical-align: sub;" src="../../../../../assets/bmimage/BM1/icon_qudaoxinxi@2x.png" alt="">
        <span style="color: #4c8bfd; font-size: 20px; margin-left: 10px">渠道信息</span>
      </ng-template>
      <div nz-row style="min-height: 200px;position: relative;padding: 0 24px;">
        <i nz-icon class='clickIcon clickIconLeft' [hidden]="channelObj.length > 6  ? false : true" type="left"
           (click)="iconClick('L')" theme="outline"></i>
        <i nz-icon class='clickIcon clickIconRight' [hidden]="channelObj.length > 6  ? false : true" type="right"
           (click)="iconClick('R')" theme="outline"></i>
        <ng-container *ngFor="let i of channelObj">

          <div nz-col class='divQudao1' *ngIf="i.ishowCase" [nzSpan]="nzSpanLength" (mouseenter)="changeInfo(i,'red')"
               (mouseleave)="changeInfo(i,'green')">
            <!-- <img src="../../../../assets/icons/G.png" alt=""> -->
            <h2 class="textH2" >{{i.channel_name}}</h2>
            <h4 style="color: #acb3bf; font-size: 14px">{{i.channel_code}}</h4>
            <div [@square]="i.squareString ">
              <div nz-row>
                <div nz-col class="textRight" nzSpan="12">开始时间：</div>
                <div nz-col class="textLeft" nzSpan="12">{{i.business_start_time}}</div>

              </div>
              <div nz-row>
                <div nz-col class="textRight" nzSpan="12">结束时间：</div>
                <div nz-col class="textLeft" nzSpan="12">{{i.business_stop_time}}</div>

              </div>
              <div nz-row>
                <div nz-col class="textRight" nzSpan="12">状态：</div>
                <div nz-col class="textLeft" nzSpan="12">{{i.switch_flag === 0 ? '开': '关' }}</div>

              </div>

            </div>
          </div>
        </ng-container>

      </div>
    </nz-card>





  </div>
</div>
