<div class="container">

  <nz-card>
    <tms-query
      #baseQuery
      [headerDate]="queryModel.queryHeader"
      (getQuery)="getQueryData($event)"
      (resetButton)="reset($event)"></tms-query>
  </nz-card>

  <nz-card style="margin-top: 20px;">
    <div class="table">
      <tms-list
        [tableClass]="'bmtableClass'"
        [listHeader]="queryModel.header"
        [listData]="queryModel.data"
        [pageSize]="queryModel.condition.pagesize"
        [totalCount]="queryModel.totalCount"
        [isLoading]="queryModel.isLoading"
        (pageChangeHandler)="pageChange($event)"
        (selectRowsHandler)="selectRowsHandler($event)"
        [topActions]="queryModel.topActions"
        (topActionsHandler)="topActionsHandler($event)"
        [rowActions]="queryModel.rowActions"
        (rowActionsHandler)="rowActionsHandler($event)"
        [isEdit]="true"
        [isrowActionsFlag]="true">
      </tms-list>
    </div>
  </nz-card>
</div>
<nz-modal nzWidth='{{settingService.modal.large}}' [(nzVisible)]="insertOrUpdateModel.isVisible"
          nzTitle="{{insertOrUpdateModel.isUpdate ? '修改外设' : '新增外设'}}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="insertOrUpdateModel.isOkLoading">
  <tms-form #baseForm  nz-row nzType="flex"  nzJustify="start"  [nzGutter]="24">
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'device_code'" [filedName]="'外设型号'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'device_name'" [filedName]="'外设名称'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'select'" [dictId]="'SYS_DEVICE_TYPE'"  [formsName]="'device_type'" [filedName]="'外设类型'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'select'" [dictId]="'SYS_DEVICE_SORT'"  [formsName]="'device_sort'" [filedName]="'外设类别'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'select'" [dictId]="'SYS_VALID_FLAG'"  [formsName]="'is_availability'" [filedName]="'是否有效'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'description'" [filedName]="'外设描述'" [required]="true"></tms-filed>

  </tms-form>
</nz-modal>

