<div class="container">
  <nz-card>
    <tms-query
      #baseQuery
      [headerDate]="queryModel.queryHeader"
      (getQuery)="getQueryData($event)"
      (resetButton)="reset($event)"></tms-query>
  </nz-card>
  <nz-card  style="margin-top:20px;">
    <div class="table">
      <tms-list
        [tableClass]="'bmtableClass'"
        [listHeader]="queryModel.header"
        [listData]="queryModel.data"
        [pageSize]="queryModel.condition.pagesize"
        [totalCount]="queryModel.totalCount"
        [isLoading]="queryModel.isLoading"
        (pageChangeHandler)="pageChange($event)"
        (selectRowsHandler)="selectRowsHandler($event)"
        [topActions]="queryModel.topActions"
        (topActionsHandler)="topActionsHandler($event)"
        [rowActions]="queryModel.rowActions"
        (rowActionsHandler)="rowActionsHandler($event)"
        [isEdit]="true"
        [isrowActionsFlag]="true">
      </tms-list>
    </div>
  </nz-card>

</div>
<nz-modal nzWidth='{{settingService.modal.large}}' [(nzVisible)]="insertOrUpdateModel.isVisible"
          nzTitle="{{insertOrUpdateModel.isUpdate ? '修改错误码' : '新增错误码'}}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="insertOrUpdateModel.isOkLoading">
  <tms-form #baseForm  nz-row nzType="flex"  nzJustify="start"  [nzGutter]="24">
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'"  [formsName]="'ret_code'" [filedName]="'错误码'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'host_code'" [filedName]="'主机代码'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'"  [formsName]="'ret_exp'" [filedName]="'错误码说明'" [required]="false"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'description'" [filedName]="'描述信息'" [required]="false"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'select'" [dictId]="'SYS_VALID_FLAG'"  [formsName]="'is_availability'" [filedName]="'有效标识'" [required]="true"></tms-filed>
  </tms-form>
</nz-modal>

