<div class="container">
  <nz-card>
    <tms-query
      #baseQuery
      [headerDate]="queryModel.queryHeader"
      (getQuery)="getQueryData($event)"
      (resetButton)="reset($event)"></tms-query>
  </nz-card>

  <nz-card style="margin-top: 20px;">
    <div class="table">
      <tms-list
        [tableClass]="'bmtableClass'"
        [listHeader]="queryModel.header"
        [listData]="queryModel.data"
        [pageSize]="queryModel.condition.pagesize"
        [totalCount]="queryModel.totalCount"
        [isLoading]="queryModel.isLoading"
        (pageChangeHandler)="pageChange($event)"
        (selectRowsHandler)="selectRowsHandler($event)"
        [topActions]="queryModel.topActions"
        (topActionsHandler)="topActionsHandler($event)"
        [rowActions]="queryModel.rowActions"
        (rowActionsHandler)="rowActionsHandler($event)"
        (rowActiveHandler)="rowActiveHandler($event)"
        [isclickPointer]="false"
        [isEdit]="true"
        [isrowActionsFlag]="true">
      </tms-list>
    </div>
  </nz-card>

</div>
<nz-modal nzWidth='{{settingService.modal.large}}' [(nzVisible)]="insertOrUpdateModel.isVisible"
          nzTitle="{{insertOrUpdateModel.isUpdate ? '修改功能组' : '新增功能组'}}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="insertOrUpdateModel.isOkLoading">
  <tms-form #baseForm  nz-row nzType="flex"  nzJustify="start"  [nzGutter]="24">
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'trans_set_code'" [filedName]="'功能组代码'" [required]="insertOrUpdateModel.isUpdate ? 'false' : 'true'"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'trans_set_name'" [filedName]="'功能组名称'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'select'" [formsName]="'all_trans_flag'" [dictId]="'SYS_ALL_TRANS_FLAG'"[filedName]="'全交易标识'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="24" [labelSpan]="3" [controlSpan]="19" [inputType]="'textarea'" [formsName]="'trans_set_desc'" [filedName]="'功能组描述'" [required]="false"></tms-filed>
  </tms-form>
</nz-modal>



