<div class="main-wrapper">
  <img class="login" src="./assets/newimage/login/logo.png" alt="">
  <img  class="leftImg" src="./assets/newimage/login/bg_left.png"  alt="">
  <img  class="rightImg" src="./assets/newimage/login/bg_right.png"  alt="">

    <div class="layout-passport">
        <div class="loginbox">
          <div class="account-login">
            <h1>登陆</h1>
            <router-outlet>
            </router-outlet>
          </div>
          <img class="account-img" src="./assets/newimage/login/image_denglu.png" alt="">
        </div>
    </div>
</div>
