<tms-list    [listHeader]="queryModel.header"   [listData]="queryModel.data"
             [pageSize]="queryModel.condition.pagesize" [totalCount]="queryModel.totalCount"
             [isLoading]="queryModel.isLoading"  (pageChangeHandler)="pageChange($event)"
             (selectRowsHandler)="selectRowsHandler($event)" [topActions]="queryModel.topActions"
             (topActionsHandler)="topActionsHandler($event)"    [rowActions]="queryModel.rowActions"
             (rowActionsHandler)="rowActionsHandler($event)" (rowActiveHandler)="rowActiveHandler($event)"
             [isShowCheckbox]="false" [showAlert]="false" [isrowEdit]="false"  [isEdit]="false">
</tms-list>
