<div class="card-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [(nzSelectedIndex)]="SelectedIndex"
    (nzSelectedIndexChange)="changTab($event)">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title">
      <div class="container">
        <div nz-row class="topDiv" nzGutter="16">
          <div nz-col [nzSpan]="6">
            <nz-input-number style="width: 100%;" [(ngModel)]="selectedValue.rank" (ngModelChange)="radioChange()"
              [nzMin]="1" [nzMax]="50" [nzStep]="1"></nz-input-number>
          </div>
          <div nz-col [nzSpan]="'6'">
            <!-- <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="交易码"
              [(ngModel)]="selectedValue.txcode" (ngModelChange)="radioChange()">
              <nz-option *ngFor="let i of trans" [nzLabel]="i.trans_code+':'+i.trans_name" [nzValue]="i.trans_code">
              </nz-option>
            </nz-select> -->
            <input nz-input style="width: 100%;" placeholder="交易码" [(ngModel)]="selectedValue.txcode"
              (ngModelChange)="radioChange()">
          </div>
          <div nz-col [nzSpan]="'6'">
            <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="渠道"
              [(ngModel)]="selectedValue.channel" (ngModelChange)="radioChange('0')">
              <nz-option *ngFor="let i of channel" [nzLabel]="i.channel_name" [nzValue]="i.channel_code"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="'6'">
            <nz-range-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="someTime" (ngModelChange)="radioChange()">
            </nz-range-picker>
          </div>
        </div>
        <div style="text-align: center;margin:16px 0;">
          <nz-radio-group [(ngModel)]="selectedValue.type" [nzButtonStyle]="'solid'" (ngModelChange)="radioChange()">
            <label *ngFor="let i of typeTime" nz-radio-button [nzValue]="i.value">{{i.label}}</label>
          </nz-radio-group>
        </div>
        <div nz-row class="chartDiv" *ngIf="tab.index === 0">
          <div nz-col nzSpan='12'>
            <div echarts style="height: 400px;" (chartClick)="chartClick($event)" [loading]="isLoading" [(options)]="optionsTransaction" (chartInit)="onMapInit($event)" class="demo-chart">
            </div>
          </div>
          <div nz-col nzSpan='12'>
            <div echarts style="height: 400px;" (chartClick)="chartClick($event)" [loading]="isLoading" [(options)]="option"  class="demo-chart">
            </div>
          </div>
        </div>
        <div nz-row class="chartDiv" *ngIf="tab.index === 1">



        </div>

      </div>
    </nz-tab>
  </nz-tabset>
</div>