<div class="container">
  <div nz-row>
    <tms-query
      #baseQuery
      [headerDate]="queryModel.queryHeader"
      (getQuery)="getQueryData($event)"
      (resetButton)="reset($event)"></tms-query>
  </div>
  <div class="table">
    <tms-list
      [tableClass]="'bmtableClass'"
      [listHeader]="queryModel.header"
      [listData]="queryModel.data"
      [pageSize]="queryModel.condition.pagesize"
      [totalCount]="queryModel.totalCount"
      [isLoading]="queryModel.isLoading"
      (pageChangeHandler)="pageChange($event)"
      (selectRowsHandler)="selectRowsHandler($event)"
      [topActions]="queryModel.topActions"
      (topActionsHandler)="topActionsHandler($event)"
      [rowActions]="queryModel.rowActions"
      (rowActionsHandler)="rowActionsHandler($event)"
      [isEdit]="true"
      [isrowActionsFlag]="true">
    </tms-list>
  </div>

</div>
<nz-modal nzWidth='{{settingService.modal.large}}' [(nzVisible)]="insertOrUpdateModel.isVisible"
          nzTitle="{{insertOrUpdateModel.isUpdate ? '修改角色-用户关联' : '新增角色-用户关联'}}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="insertOrUpdateModel.isOkLoading">
  <tms-form #baseForm  nz-row nzType="flex"  nzJustify="start"  [nzGutter]="24">
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'role_code'" [filedName]="'角色代码'" [required]="false"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'user_code'" [filedName]="'用户代码'" [required]="true"></tms-filed>
    <tms-filed nz-col [nzSpan]="12" [inputType]="'input'" [formsName]="'org_code'" [filedName]="'网点代码'" [required]="true"></tms-filed>
  </tms-form>
</nz-modal>



