.container{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.action{
  height: 40px;
}
.table{
    overflow-x: auto;
}
/*
 *  STYLE 14
 */
			

.table::-webkit-scrollbar {
	width:10px;
	background-color:#F5F5F5;
}
.table::-webkit-scrollbar-thumb {
	background-color:#b5c1c64d;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
}