<nz-layout >
  <!-- 公共部分主题样式 -->
 <!-- <div class="setting-drawer__handle" [ngClass]="{'setting-drawer__handle-opened': visible}" (click)="toggle()">
    <i nz-icon [type]="visible? 'close': 'setting'" theme="outline"></i>
  </div>
  <nz-drawer [nzClosable]="true" [nzWidth]="500" [nzVisible]="visible" nzPlacement="right" nzTitle="主题设置"
             (nzOnClose)="toggle()">
    <app-theme-style></app-theme-style>
  </nz-drawer>-->
  <!-- 路由插座 -->
  <router-outlet></router-outlet>
</nz-layout>




